<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://avatars.githubusercontent.com/u/1837470" alt="" width="72" height="72">
    <%= link_to "Go back to #{@tenant_decorate.wrapped.property.name}", property_path(@tenant_decorate.wrapped.property), class: "btn btn-primary"%>
    <p class="lead"></p>
  </div>

  <div class="row">
    <div class="col-md-2 order-md-1 mb-4"></div>
    <div class="col-md-8 order-md-2">
      <h4 class="mb-3"><%= @tenant_decorate.wrapped.name %></h4>
      <%= render partial: 'tenants/details' %>
    </div>
    <div class="col-md-2 order-md-3 mb-4"></div>
  </div>
</div>