<div class="container">
  <div class="py-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <%= link_to "Go to Properties", properties_path, class: "btn btn-primary"%>
    <p class="lead"></p>
  </div>

  <div class="row">
    <div class="col-md-2 order-md-1 mb-4"></div>
    <div class="col-md-8 order-md-2">
      <h4 class="mb-3"><%= @property_decorated.wrapped.name %></h4>
      <%= render partial: 'properties/details' %>
    </div>
    <div class="col-md-2 order-md-3 mb-4"></div>
  </div>

  <div class="row">
    <div class="col-md-2 order-md-1 mb-4"></div>
    <div class="col-md-8 order-md-2">
      <%= render partial: 'tenants/list', locals: {
        property: @property, 
        tenants: TenantDecorator.decorate_collection(@property_decorated.wrapped.tenants)
      } %>
    </div>
    <div class="col-md-2 order-md-3 mb-4"></div>
  </div>
</div>